.main_tournament .flooring-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main_tournament .flooring-coins{
    transform: unset;
    width: 90vh;
    height: 90vh 
}

.main_tournament .flooring-coins img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -56%);
    width: 30%;
}

/* .coin-animate {
    background: url(/src/tournament-main/images/head.png);
    width: 240px;
    height: 240px;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 48%;
    left: 50%;
    display: flex;
    background-position: center;
    background-size: contain;
    animation: coin 0.9s steps(54) infinite;
}

@keyframes coin{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 -3612px ;
    }
} */